.employees-list{
    margin: 30px 50px;
}
.remove-icon{
    color: rgb(147, 0, 0);
}
.action-btns{
    display: flex;
    gap: 5px;
}
.loader{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
.page-item{
    cursor: pointer;
}
.disabled{
    pointer-events: none;
}
.mb-10{
    margin-bottom: 10px;
}
.not-found{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: rgb(197, 197, 197);
    font-weight: bold;
}

@media screen and (max-width: 768px){
    .employees-list{
        margin: 20px;
    }
}